[Desktop Entry]
Encoding=UTF-8
Name=TextAdept Text Editor
Name[en_GB]=TextAdept Text Editor
Name[es]=Editor de textos TextAdept
Comment=Programming editor
Comment[en_GB]=Programming editor
Comment[es]=Edita especializado para programación
Exec=textadept %F
Terminal=false
Type=Application
MimeType=text/plain;
Icon=/usr/share/icons/hicolor/scalable/textadept.svg
Categories=Application;Development;
